.add {
    width: 100vw;
    &__buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: inherit;
        // width: 100%;

        & * {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}
