.addBoard {
    margin: 10px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;

    &__title {
        font-size: 15px;

        width: 100%;
        border-radius: 5px;
        border: unset;
        background-color: var(--backgroundDark);
        margin-top: 15px;

        margin-bottom: 5px;
        padding: 5px;
    }

    &__text {
        font-size: 15px;

        width: 100%;
        min-height: 200px;

        resize: none;
        border-radius: 5px;
        border: unset;
        background-color: var(--backgroundDark);
        margin-bottom: 5px;
        padding: 5px;
    }

    &__addPicture {
        font-size: 50px;
    }

    &__details {
        display: flex;
        flex-direction: row;
        min-height: fit-content;

        & * {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin: 5px;
        }

        & input,
        select {
            font-size: 15px;
            resize: none;
            border-radius: 5px;
            border: unset;
            background-color: var(--backgroundDark);
            margin-bottom: 5px;
            padding: 5px;
            -webkit-appearance: none;
        }

        & label {
            font-size: 10px;
            font-weight: bold;
            margin-bottom: 0px;
        }

        &--price {
            border-radius: 5px;
            border: 1px solid black;
        }

        &--category {
            border-radius: 5px;
            border: 1px solid black;
        }
    }

    &__input {
        display: none;
    }

    &__buttons {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 30px;
    }
}
