:root {
    --backgroundLight: #fff1e5;
    --backgroundDark: #f2dfce;
    --special: #262a33;
    --red: #990f3d;

    background-color: var(--backgroundLight);
}

* {
    &::-webkit-scrollbar {
        display: none;
    }

    &::-webkit-scrollbar-thumb {
        background: #000;
    }
}

a {
    text-decoration: none;
}

.error {
    color: red;
}

.error--icon {
    font-size: 50px;
}
