.searchBox {
    display: flex;
    flex-direction: column;
    // max-height: 0px;
    overflow: hidden;

    align-items: center;
    background-color: var(--backgroundLight);
    box-shadow: 0 -1px 3px 0 rgba(0, 0, 0, 0.56);
    width: 100%;
    padding: 5px;
    top: 0px;

    position: fixed;
    z-index: 502;

    transition: top 0.5s;

    font-size: 18px;
    top: -250px;

    &--button {
        margin-top: 30px;
        margin-bottom: 30px;
        width: 100%;
    }

    &--show {
        top: 0px;
    }

    & * {
        max-width: 200px;
        text-align: center;
    }

    & input,
    select {
        margin: 2px;

        align-self: center;
        width: 80%;
        font-size: 15px;
        resize: none;
        border-radius: 5px;
        border: unset;
        background-color: var(--backgroundDark);
        margin-bottom: 5px;
        padding: 5px;
        -webkit-appearance: none;
    }
}

.icon {
    position: fixed;
    top: 0;
    z-index: 6;
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 5px;

    &:active {
        color: var(--backgroundLight);
        background-color: var(--backgroundLight);
    }

    &--search {
        z-index: 501;

        right: 5px;
        padding-left: 50px;
    }
    &--category {
        z-index: 501;

        padding-right: 50px;

        left: 5px;
    }
}
