:root {
    --backgroundLight: #fff1e5;
    --backgroundDark: #f2dfce;
    --special: #262a33;
    --red: #990f3d;
}

.swiper-container {
    height: inherit !important;
}

.swiper-button {
    &-next {
        right: 0 !important;
        height: 100% !important;
        top: 20px !important;
        padding: 0 10px 0 30px !important;
        opacity: 0.5 !important;
        color: var(--special) !important;
        width: auto !important;
    }
    &-prev {
        left: 0 !important;
        height: 100% !important;
        padding: 0 30px 0 10px !important;

        top: 20px !important;
        opacity: 0.5 !important;
        color: var(--special) !important;
        width: auto !important;
    }
}

.swiper-pagination-bullets {
    bottom: 0px !important;
}

.swiper-pagination-bullet {
    width: 6px !important;
    height: 6px !important;
    border: 2px solid var(--backgroundLight);

    &-active {
        border: unset;
        width: 8px !important;
        height: 8px !important;
        background-color: var(--special) !important;
    }
}

.swiper-button-disabled {
    opacity: 0.05 !important;
    pointer-events: visible !important;
}
